<div class="accordion-item">
  <h2 class="accordion-header">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse4"
    >
      requests
    </button>
  </h2>
  <div id="collapse4" class="accordion-collapse collapse">
    <div class="accordion-body">
      <div class="button-container">
        <div>
          <button class="bn" type="button" onclick="showSection('All')">
            All
          </button>
          <button class="bn" type="button" onclick="showSection('notViewed')">
            Not Viewed
          </button>
          <button class="bn" type="button" onclick="showSection('accepted')">
            Accepted
          </button>
          <button class="bn" type="button" onclick="showSection('declined')">
            Declined
          </button>
        </div>
        <div>
            <form action="{% url 'update_status' %}" method="POST">
              {% csrf_token %}
            <button
              id="approveBtn"
              class="control-btn approve-btn"
              type="submit"
              name="status" 
              value="Accepted"
              disabled
            >
              Accept
            </button>
            <button
              id="rejectBtn"
              class="control-btn reject-btn"
              type="submit"
              name="status"
              value="Declined"
              disabled
            >
              Decline
            </button>

            <button
              id="delc"
              class="control-btn delc-btn"
              type="submit"
              value="del"
              name="status"
              disabled
            >
              Delete
            </button>
          </div>
        </div>




        <!-- Content Sections -->
        <div id="All" class="content-box active">
          {% if contacts %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Pet Name</th>
                <th>Pet id</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr>
                <td>
                  {% if contact.status == "accepted" %}
                  <span class="status-icon accepted"
                    ><i class="fa-solid fa-check-circle"></i
                  ></span>
                  {% elif contact.status == "pending" %}
                  <span class="status-icon not-viewed"
                    ><i class="fa-solid fa-question-circle"></i
                  ></span>
                  {% else %}
                  <span class="status-icon declined"
                    ><i class="fa-solid fa-times-circle"></i
                  ></span>
                  {% endif %}
                </td>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.petname }}</td>
                <td>{{ contact.petid }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.location }}</td>
                <td>{{ contact.message }}</td>
                

                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      type="checkbox"
                      class="selection-checkbox"
                      name="con_ids"
                      value="{{ contact.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
          <h2>NO Requests</h2>
          {% endif %}
        </div>

        <div id="notViewed" class="content-box">
          {% if contacts %} {% if co.2 %}


          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Pet Name</th>
                <th>Pet id</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %} {% if contact.status == "pending" %}
              <tr>
                <td>
                  <span class="status-icon not-viewed"
                    ><i class="fa-solid fa-question-circle"></i
                  ></span>
                </td>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.petname }}</td>
                <td>{{ contact.petid }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.location }}</td>
                <td>{{ contact.message }}</td>
                
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      type="checkbox"
                      class="selection-checkbox"
                      name="con_ids"
                      value="{{ contact.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>NO PENDING REQUEST</h2>
          {% endif %} {% else %}
          <h2>NO Requests</h2>
          {% endif %}
        </div>

        <div id="accepted" class="content-box">
          {% if contacts %} {% if co.0 %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Pet Name</th>
                <th>Pet id</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %} {% if contact.status == "accepted" %}
              <tr>
                <td>
                  <span class="status-icon accepted"
                    ><i class="fa-solid fa-check-circle"></i
                  ></span>
                </td>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.petname }}</td>
                <td>{{ contact.petid }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.location }}</td>
                <td>{{ contact.message }}</td>
                
                  
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      type="checkbox"
                      class="selection-checkbox"
                      name="con_ids"
                      value="{{ contact.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>NO ACCEPTED REQUEST</h2>
          {% endif %} {% else %}
          <h2>NO Requests</h2>
          {% endif %}
        </div>

        <div id="declined" class="content-box">
          {% if contacts %} {% if co.1 %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Pet Name</th>
                <th>Pet id</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %} {% if contact.status == "declined" %}
              <tr>
                <td>
                  <span class="status-icon declined"
                    ><i class="fa-solid fa-times-circle"></i
                  ></span>
                </td>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.petname }}</td>
                <td>{{ contact.petid }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.location }}</td>
                <td>{{ contact.message }}</td>
                
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      type="checkbox"
                      class="selection-checkbox"
                      name="con_ids"
                      value="{{ contact.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endif %} {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>NO DECLINED REQUEST</h2>
          {% endif %} {% else %}
          <h2>NO Requests</h2>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
<!--five item -->

<div class="accordion-item">
  <h2 class="accordion-header">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse5"
    >
      letters
    </button>
  </h2>
  <div id="collapse5" class="accordion-collapse collapse">
    <div class="accordion-body">
      <div class="letter-button-container">
        <div>
          <button
          class="bnl"
          type="button"
          onclick="showLetterSection('letterAll')"
          >
          All
        </button>
        <button
        class="bnl"
        type="button"
        onclick="showLetterSection('letterViewed')"
        >
        Viewed
      </button>
      <button
      class="bnl"
      type="button"
      onclick="showLetterSection('letterNotViewed')"
      >
      Not Viewed
    </button>
  </div>
  <div>
            <form action="{% url 'update_status_letter' %}" method="POST">
            <button
              id="markreadbtn"
              class="control-btn mark-read-btn"
              type="submit"
              name="status"
              value="Viewed"
              disabled
            >
              Mark as Read
            </button>
            <button
              id="dell"
              class="control-btn dell-btn"
              type="submit"
              value="del"
              name="status"
              disabled
            >
              Delete
            </button>
          </div>
        </div>

        <!-- Letter Content Sections -->
        <div id="letterAll" class="letter-content-box active">
          {% if letters %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for letter in letters %}
              <tr>
                <td>
                  {% if letter.status == "Not Viewed" %}
                  <div class="empty-box"></div>
                  {% else %}
                  <div class="checked-box"></div>
                  {% endif %}
                </td>
                <td>{{ letter.id }}</td>
                <td>{{ letter.firstname }}</td>
                <td>{{ letter.email }}</td>
                <td>{{ letter.number }}</td>
                <td>{{ letter.location }}</td>
                <td>{{ letter.message }}</td>

                
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      id="readbtn"
                      type="checkbox"
                      class="selection-checkbox-letter"
                      name="lett_ids"
                      value="{{ letter.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
          <h2>NO LETTER</h2>
          {% endif %}
        </div>

        <div id="letterViewed" class="letter-content-box">
          {% if letters %} 
          {% if co.3 %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for letter in letters %}
              {% if letter.status == "Viewed" %}
              <tr>
                <td>
                  <div class="checked-box"></div>
                 
                </td>
                <td>{{ letter.id }}</td>
                <td>{{ letter.firstname }}</td>
                <td>{{ letter.email }}</td>
                <td>{{ letter.number }}</td>
                <td>{{ letter.location }}</td>
                <td>{{ letter.message }}</td>
                
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      id="readbtn"
                      type="checkbox"
                      class="selection-checkbox-letter"
                      name="lett_ids"
                      value="{{ letter.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>NO VIEWED LETTERS</h2>
          {% endif %} {% else %}
          <h2>NO LETTER</h2>
          {% endif %}
        </div>

        <div id="letterNotViewed" class="letter-content-box">
          {% if letters %} 
          {% if co.4 %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Location</th>
                <th>Message</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for letter in letters %}
              {% if letter.status == "Not Viewed" %}
              <tr>
                <td>
                  <div class="empty-box"></div>
                 
                </td>
                <td>{{ letter.id }}</td>
                <td>{{ letter.firstname }}</td>
                <td>{{ letter.email }}</td>
                <td>{{ letter.number }}</td>
                <td>{{ letter.location }}</td>
                <td>{{ letter.message }}</td>
                
                
                <td style="padding: 10px; text-align: center">
                  <label
                    style="
                      display: inline-block;
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    "
                  >
                    <input
                      id="readbtn"
                      type="checkbox"
                      class="selection-checkbox-letter"
                      name="lett_ids"
                      value="{{ letter.id }}"
                      style="
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: relative;
                      "
                    />
                  </label>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h2>NO PENDING LETTERS</h2>
          {% endif %} {% else %}
          <h2>NO LETTER</h2>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

