{% extends 'b.html' %}
{% block style %}
<style>
    input[type="password"] {
      width: 300px;
      padding: 12px 15px;
      margin: 10px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      font-size: 16px;
      transition: border-color 0.3s ease;
    }
  
    input[type="password"]:focus {
      border-color: #0078D7; /* Microsoft blue */
      outline: none;
      box-shadow: 0 0 8px rgba(0, 120, 215, 0.3);
    }
    .strength-message {
    font-size: 14px;
    margin-top: 5px;
  }
  .valid {
    color: green;
  }
  .invalid {
    color: red;
  }
  </style>
  
{% endblock %}
{% block content %}
<h2>Set New Password 🔁</h2>
<form method="POST">{% csrf_token %}
    <input type="password" id="new_password1" name="new_password1" placeholder="New Password" required><br>
    <div id="strengthMessage" class="strength-message"></div>
    <input type="password" name="new_password2" placeholder="Confirm Password" required><br>
    <button type="submit"  id="submitBtn" disabled>Change Password</button>
</form>
<script>
    const passwordInput = document.getElementById("new_password1");
    const message = document.getElementById("strengthMessage");
    const submitBtn = document.getElementById("submitBtn");

    passwordInput.addEventListener("input", function () {
    const value = passwordInput.value;
    const simplePassword = /^(?=.*[A-Za-z])(?=.*\d).{6,}$/;
    const simplePassword2 = /^.{9,}$/;


    if (value.length === 0) {
      message.textContent = "";
      submitBtn.disabled = true;
    } else if (simplePassword.test(value) || simplePassword2.test(value)) {
      message.textContent = "Looks good 👍";
      message.className = "strength-message valid";
      submitBtn.disabled = false;
    } else {
      message.textContent = "At least 6 characters with a letter & number or 9 characters ";
      message.className = "strength-message invalid";
      submitBtn.disabled = true;
    }
  });
  </script>

{% endblock %}