{% extends 'base.html' %} 
{% block content %}
<div style=" margin-top: 100px">
  <h1>welcome {{user.username}}</h1>
  <a href="/admin/"><button class="premium-btn" style="position: absolute; top: 38%; right: 4%;">go to admin</button></a>
  <div class="accordion" id="accordionExample" >
    <!-- First Item -->
    {% if not request.user.is_superuser %}
  
      
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
        >
          login as super admin
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse ">
        <div class="accordion-body">
          <form action="{% url 'login' %}" method="post" style="font-size: small; text-align: center; max-width: 500px; margin: auto;" class="form">
            {% csrf_token %}
            <h3 style="margin-bottom: 20px">Login</h3>
          
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter your username"
              />
            </div>
            <p>OR</p>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="example@gmail.com"
              />
            </div>
          
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Your password"
                required
              />
            </div>
          
            <button type="submit" class="btn btn-primary" style="margin-top: 30px">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
      
    {% endif %}
    
    <!-- Second Item -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
        >
          staf
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
              {% for admin in admins %}
              <tr>
                <td>{{admin.id}}</td>
                <td>{{admin.username}}</td>
                <td>{{admin.email}}</td>
                <td>
                  {% if admin.email == request.user.email %}
                    YOU
                  {% endif %}
                    
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--four item -->   
    {% include "clcommon.html" %}

    
  </div>
</div>
{% load static %}

<link rel="stylesheet" href="{% static 'css/clcommon.css' %}">
<script src="{% static 'js/clcommon.js' %}"></script>

{% endblock %}
